.img-thumbnail--style {
  width: 800px;
  height: 400px !important;
}
.label__poster,
.img-thumbnail__linkBlock {
  display: block;
}
.img-thumbnail__linkBlock {
  margin-top: 5px;
  text-align: center;
  width: 100%;
}
.label__style {
  font-size: 15px !important;
  font-weight: 600 !important;
}
